@layer components {
    /* layout */
    .flex-center {
        @apply flex items-center justify-center;
    }
    .dark-bg {
        @apply bg-gray-800 dark:bg-gray-700;
    }
    .border-default {
        @apply border-gray-200 dark:border-gray-700;
    }
    .loading {
        @apply supports-[backdrop-filter]:bg-light/50 dark:supports-[backdrop-filter]:bg-light/10 fixed inset-0 z-[9999] flex items-center justify-center bg-gray-100 supports-[backdrop-filter]:backdrop-blur-sm dark:bg-slate-700;
    }
    .loading-box {
        @apply relative h-36 w-36 animate-spin rounded-full border-4 border-transparent border-t-purple-400;
    }
    .loading-box1 {
        @apply absolute inset-1 animate-[spin_3s_linear_infinite] rounded-full border-4 border-transparent border-t-purple-500;
    }
    .loading-box2 {
        @apply absolute inset-3 animate-[spin_1.5s_linear_infinite] rounded-full border-4 border-transparent border-t-fuchsia-500;
    }
    .boxed-layout {
        @apply md:mx-auto md:max-w-[1400px];
    }
    .tw--wrapper {
        @apply bg-light text-sm font-normal antialiased dark:bg-slate-700 print:bg-transparent;
    }
    .tw--container {
        @apply relative flex min-h-screen flex-col transition-all duration-300 ltr:lg:ml-64 rtl:lg:mr-64 dark:bg-slate-700 print:m-0;
    }
    .tw--wrapper:has(.vertical-menu.collapsed) .tw--container {
        @apply ltr:lg:ml-[70px] rtl:lg:mr-[70px];
    }
    .horizontal .tw--container,
    .vertical.toggle-menu .tw--container {
        @apply duration-0 ltr:lg:ml-0 rtl:lg:mr-0;
    }
    .tw--content {
        @apply bg-light relative mx-3 mb-3 overflow-x-hidden sm:mx-6 dark:bg-slate-700 dark:text-gray-300 print:m-0 print:bg-transparent print:p-0;
    }
    .customizer-icon {
        @apply bg-primary shadow-primary-100 hover:bg-primary-700 text-white;
        @apply from-primary-400 to-primary-500 dark:bg-primary-600 dark:hover:bg-primary-700 bg-gradient-to-br;
        @apply fixed top-[calc(50%_-_18px)] z-10 flex cursor-pointer items-center justify-center rounded-md p-1.5 text-white ltr:right-3 rtl:left-3 print:hidden;
    }
    .customizer-card {
        @apply dark:border-dark mb-3 rounded-md border border-dashed border-gray-200 p-3 dark:bg-gray-700;
    }
    .customizer-header {
        @apply mb-1 text-base leading-none;
    }
    .hidden-checkbox {
        @apply absolute z-10 h-full w-full cursor-pointer opacity-0;
    }
    .hidden-switch {
        @apply peer-checked:border-primary peer-checked:before:bg-primary block h-full rounded-full border-2 border-[#ebedf2] before:absolute before:bottom-1 before:left-1 before:h-4 before:w-4 before:rounded-full before:bg-[#ebedf2] before:bg-[url('../../public/images/close.svg')] before:bg-center before:bg-no-repeat before:transition-all before:duration-300 peer-checked:before:left-7 peer-checked:before:bg-[url('../../public/images/checked.svg')];
    }
    .search-box-input {
        @apply flex w-full items-center rounded-md border-0 bg-transparent py-1.5 pr-3 pl-2 text-sm leading-6 text-gray-400 outline-0 focus-within:outline-0 focus:border-0 focus:ring-0 focus:outline-none;
    }
    .d-nav {
        @apply flex flex-wrap text-center text-sm font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400;
    }
    .d-nav-item {
        @apply inline-block rounded-t-lg p-4 py-2 uppercase hover:bg-gray-50 hover:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-300;
    }
    .d-nav-item.active {
        @apply bg-gray-100 text-blue-600 dark:bg-gray-800 dark:text-blue-500;
    }

    /* Navbar */
    .navbar-nav {
        @apply supports-[backdrop-filter]:bg-light/50 z-20 h-14 supports-[backdrop-filter]:backdrop-blur dark:bg-transparent print:hidden;
    }
    .horizontal .navbar-nav {
        @apply shadow;
    }
    .primary-header {
        @apply mx-3 flex items-center justify-between py-2 transition-all ease-in-out sm:mx-6;
    }
    .navbar-fixed {
        @apply sticky top-0;
    }
    .vertical .navbar-fixed.scrollable .primary-header,
    .collapsible .navbar-fixed.scrollable .primary-header {
        @apply rounded-br-xl rounded-bl-xl px-4 shadow-md dark:supports-[backdrop-filter]:bg-gray-700/50;
    }
    .header-icon {
        @apply hover:border-primary-100 hover:bg-primary-100 hover:text-primary dark:hover:bg-dark dark:lg:bg-dark relative flex size-8 items-center justify-center rounded-lg text-gray-500 lg:border lg:border-gray-200 lg:bg-white lg:p-1 lg:text-xl dark:border-gray-600 dark:text-white dark:hover:text-white;
        @apply hs-dropdown-open:bg-primary-100 hs-dropdown-open:text-primary;
    }
    .navbar-hidden,
    .horizontal .sidebar-toggle {
        @apply hidden;
    }
    .dropdown-menu.user-profile-dropdown {
        @apply w-64 px-0;
    }
    .user-avatar {
        @apply h-8 w-8 rounded-md object-cover;
    }
    .user-menu-item {
        @apply px-1.5;
    }
    .user-group-divider {
        @apply mx-2 my-1.5 border-b dark:border-gray-700;
    }
    .user-menu-link {
        @apply hover:bg-light flex w-full cursor-pointer items-center gap-2 rounded-md p-2 text-sm dark:text-gray-300 hover:dark:bg-slate-700 dark:hover:text-gray-100;
    }
    .language-dropdown {
        @apply dark:bg-dark absolute left-0 -m-40 hidden w-40 space-y-2 rounded-md bg-white px-2 py-4 shadow-xl group-hover:block;
    }
    .language-dropdown-item {
        @apply hover:bg-light flex cursor-pointer items-center rounded-md px-4 py-2 hover:dark:bg-slate-700 dark:hover:text-gray-300;
    }
    .tw-bell-icon {
        @apply absolute -top-1 -right-1 flex h-2 w-2;
    }
    .tw-bell-icon.count {
        @apply size-4;
    }
    .tw-icon-badge {
        @apply bg-primary-400 absolute inline-flex h-full w-full animate-ping rounded-full opacity-75;
    }
    .tw-badge-dot {
        @apply bg-primary-500 relative flex items-center justify-center rounded-full text-xs;
    }
    .tw-bell-icon:not(.count) .tw-badge-dot {
        @apply h-2 w-2;
    }
    .tw-bell-icon.count .tw-badge-dot {
        @apply aspect-square p-1 text-white;
    }
    .quick-search-box {
        @apply relative ml-auto cursor-pointer transition lg:mx-4;
    }
    .global-search-container {
        @apply max-h-[500px] min-h-44 space-y-4 divide-y px-1 dark:divide-gray-700;
    }
    .quick-search-input {
        @apply focus:border-primary-500 focus:ring-primary-500 dark:border-dark dark:bg-dark hidden w-full rounded-full border-gray-200 bg-white py-2 ps-10 pe-16 text-sm shadow-sm transition group-hover:border-gray-300 placeholder:text-gray-400 lg:block lg:min-w-[25rem] dark:text-neutral-400 dark:group-hover:border-gray-600 dark:placeholder:text-neutral-500 dark:hover:border-neutral-600;
    }
    .quick-search-command {
        @apply absolute inset-y-0 end-0 hidden items-center p-2 lg:flex;
    }
    .quick-search-btn {
        @apply hover:border-primary-100 hover:bg-primary-100 hover:text-primary flex size-8 items-center justify-center rounded-lg lg:pointer-events-none lg:absolute lg:inset-y-0 lg:start-0 lg:flex lg:size-auto lg:items-center lg:p-[.6875rem] lg:ps-3;
    }
    .quick-search-svg {
        @apply hover:text-primary group-hover:text-primary-600 text-gray-600 lg:text-gray-400 dark:text-neutral-400 lg:dark:text-neutral-500 lg:dark:group-hover:text-gray-500;
    }
    .hidden-sidebar {
        @apply hidden lg:flex;
    }

    /* Footer */
    .footer {
        @apply dark:!bg-dark mx-3 mt-auto rounded-tl-lg rounded-tr-lg bg-white px-4 py-2 shadow sm:mx-6 md:flex md:items-center md:justify-between md:px-6 md:py-4 print:hidden;
    }
    .footer-button {
        @apply mt-3 hidden flex-wrap items-center text-sm text-gray-500 sm:mt-0 md:flex dark:text-gray-400;
    }
    .footer-text {
        @apply flex gap-1 text-sm text-gray-500 sm:text-center dark:text-gray-400;
    }
    .footer-fixed {
        @apply sticky bottom-0 bg-white shadow-lg;
    }
    .footer-hidden {
        @apply hidden;
    }
}

/* Others */
.editor-toolbar,
.ql-toolbar.ql-snow {
    @apply rounded-t-md border-t border-gray-200 bg-white dark:border-gray-800 dark:bg-gray-700;
}

.CodeMirror-wrap,
.ql-container.ql-snow {
    @apply rounded-b-md border-b border-gray-200 bg-white dark:border-gray-800 dark:bg-gray-700;
}

.ql-formats .ql-stroke {
    @apply hover:stroke-primary dark:hover:stroke-primary-300;
}

/* customize simple bar scrollbar color */
.simplebar-scrollbar:before {
    width: 4px;
    background: #e2e8f0;
}

/* quill editor */
.ql-snow .ql-editor {
    min-height: 200px;
    max-height: 300px;
    overflow: auto;
}
.sortable-drag .sortable-item-card {
    transform: rotate(-5deg);
}
/* sortable-ghost opacity */
.sortable-chosen.sortable-ghost {
    @apply opacity-100;
}
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
